<footer class="navbar-fixed-bottom row-fluid imgFooter mainfooter" role="contentinfo" [ngStyle]="{'background-image':'url(' + background.link + ')'}">
  <div class="bgFooter">
    <!-- <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo-pr.png"></a>
      </div>
      <div class="col-md-9">
        <img class="brand-name my-auto" src="/assets/images/brand-name.png" alt="">
      </div>
    </div> -->
  <a class="navbar-brand" href="#"><img src="/assets/images/logo-pr.png"></a>
       <img class="brand-name ml-5 text-center" src="/assets/images/brand-name.png" alt="">
  </div>
   <img class="imgFooter" src="/assets/images/imgFooter.jpeg" alt="">  
</footer>