
@import '../_main';

.main-footer {
    background-image: $url-img;
}

.img-footer {
    @include size(31.25rem, 100%);
    background-size: cover;
}

.img-brand{
    @include size($height-logotip, $width-logotip);
    margin-left: 3.125rem;
}

.bg-footer {
    background-color: $colorBg;
}

.brand-name{
    @include size(2.5rem, auto);
}
