$colorBg: rgb(54, 57, 62);
$color-wh: white;
$color-grey: rgb(83, 87, 93);
$bt-bg: rgb(42, 62, 91);
$hover-bg: rgb(28, 54, 93);

@mixin bgColor($bg,
$color) {
    color: $color;
    background: $bg;
}

.btn-color{
    @include bgColor($bt-bg,$color-wh);    
    &:hover{
            @include bgColor($hover-bg,$color-wh);
    }
}

.input-bg {
    @include bgColor($color-grey,
    $color-wh);
    &:focus {
        @include bgColor(rgb(117, 115, 115),
        $color-wh);
    }
}

input.ng-touched.ng-invalid {color: red;}