$height-logotip: 3.4rem;
$width-logotip: 3.4rem;
$full-width:100%;
$auto-size: auto;

@mixin size($height, $width) {
	height: $height;
	width: $width;
	}
	
	.sizeButton {
		height: 3rem;
		width: 8.063rem;
		cursor: pointer;
}

