<div class="container justify-content-center">
    <h2 class="main-title">Create new event</h2>
    <form class="form-class col-8">
        <div class="form-group name-input-group">
            <label for="event-name">Event name</label>
            <input type="text" class="form-control" id="event-name" aria-describedby="eventHelp" placeholder="Enter name of future event">
            <small id="eventHelp" class="form-text text-muted subscription">Here you can enter name of the new event in world of photography!</small>
        </div>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
        <div class="form-group">
            <label for="descriptionTextarea">Description</label>
            <textarea class="form-control" id="descriptionTextarea" rows="3"></textarea>
        </div>
        <div class="form-group event-photo-upload">
            <div class="col-2 upload-div">
                <button class="btn btn-secondary upload-btn">Upload a file</button>
                <input type="file" class="form-control-file upload-input" id="photoInput" aria-describedby="photoInputHelp">
            </div>
            <small id="photoInputHelp" class="form-text text-muted subscription">Upload photo for this event</small>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg col-2 next-btn">Next</button>
    </form>
</div>