<div class="container text-white">
	<div class="row mx-2 my-2">
		<div class="col-md-12">
			<div class="well well-sm form">
				<div class="col-sm-12 col-lg-12 title-bg py-2">
					<h1 class="h1 text-center">
						<img class="logo-Camera" src={{logoCamera}} alt=""> Create new event</h1>
				</div>
				<form class="px-3 py-3">
					<div class="row">
						<div class="col-md-6 px-5">
							<div class="form-group">
								<label for="name" class="font-weight-bold">Title of event</label>
								<div class="form-group">
									<div class="input-group mb-2 mr-sm-2 mb-sm-0">
										<input type="text" name="name" class="form-control" id="name" placeholder="Wedding conference" required autofocus>
										<div class="input-group-addon" style="width: 2.6rem">
											<i class="fa fa-pencil"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="email">Photo of event</label>
								<div class="form-group">
									<div class="form-group">
										<div class="input-group mb-2 mr-sm-2 mb-sm-0">

											<!-- <label for="files" class="btn btn-success">Select Image</label>
											<input id="files" style="visibility:hidden;" type="file"> -->

											<input type="file" id="exampleInputFile" aria-describedby="fileHelp">


										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="name">Calendar</label>
								<div class="form-group">
									<div class="input-daterange input-group mb-2 mr-sm-2 mb-sm-0" id="datepicker">
										<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker">
										<span class="input-group-addon">to</span>
										<input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelDate" ngbDatepicker (click)="dp.toggle()"
										 #dp="ngbDatepicker">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="location">
									Location</label>
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="location" class="form-control" id="location" placeholder="US, 245 West72nd Street New York, NY 10023"
										 required autofocus>
										<app-modal-location></app-modal-location>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-6 px-5">
							<div class="form-group">
								<label for="descr">
									Description</label>
								<textarea name="descr" class="form-control" id="decr" cols="25" rows="11" placeholder="Description"></textarea>
							</div>
							<button type="submit" class="btn btn-warning text-white">
								<i class="fa fa-paper-plane"></i> Template</button>
							<button type="submit" class="btn btn-success">
								<i class="fa fa-plus-circle"></i> Add agenda</button>

						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>