@import '../import_scss/_size';
@import '../import_scss/_color';

.title-bg {
    background-color: rgb(83, 87, 93);
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    .logo-Camera {
        @include size($height-logotip,
        $width-logotip);
    }
}

.bg-image{
    background-image: url('/assets/images/ph-bg.png');
    background-size: cover;
    background-attachment: fixed;

    @media screen and (max-width: 35.94rem) {
        .hiddeButton{
            display: none;
        }
    }
}

p-editor /deep/{
    &.ng-valid div .ql-editor {
        border-left: 5px solid rgba(42, 62, 91, .5); 
    }
    &.ng-invalid div .ql-editor {
        border-left: 5px solid rgba(155, 36, 17, .5); 
    }
    .ql-editor {
        background-color: rgb(83, 87, 93);
        height: 20rem;
        [data-placeholder] { color: #ffd595 !important; }
        ::placeholder { color: #ffd595!important; } 
    }
}

*[data-placeholder] { color: #ffd595; }

@media screen and (max-width: 575px){
    .add-location{
        padding-top: 15px;
    }
    
}
