@import '../import_scss/_size';
@import '../import_scss/_color';

$bg-color: rgba(83, 87, 93, .4);
.logo-Camera {
    @include size($height-logotip,
    $width-logotip);
}

.title-bg {
    background-color: rgb(83, 87, 93);
    border-radius: 0.9375rem 0.9375rem 0 0;
}

.form {
    background-color: rgba(83, 87, 93, .3);
    border-radius: 0.9375rem;
    background-image: url('/assets/images/bgForm.png');
    background-size: cover; 
    box-shadow: 0 0 0.20rem 0.12rem rgba(0, 0, 0, 0.5);
}

.input-bg {
    @include bgColor($color-grey,
    $color-wh);
}

@media screen and (max-width: 35.94rem) {
    .hiddeButton{display: none;}
}


.sizeButton {
    width: 8.125rem;
}

.btn-color{
    @include bgColor($bt-bg,$color-wh);    
    &:hover{
        @include bgColor($hover-bg,$color-wh);
    }
}
