<div class="container-fluid">
  <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-faded fixed-top px-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button> 
    
      <a class="navbar-brand py-0" href="#"><img src="/assets/images/logo-pr.png"></a>
      
      <div class="collapse navbar-collapse navbar-toggleable-md" id="nav-content">
          <form class="form-inline mr-auto  mt-2 mt-lg-0">
              <div class="input-group mr-sm-2">
                  <input class="form-control input-lg input border-right-0" size="25" type="text" placeholder="Search">
                  <button class="input-group-addon button-submit button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </form>
            <!-- <img class="brand-name mr-auto " src="/assets/images/brand-name.png" alt=""> -->
                 <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">All events</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Open events</a>
                </li>
                </ul>
          </div>   
        </nav>
    </div>

</div>
<div class="backg-nav" [ngStyle]="{'background-image':'url(' + background.link + ')'}"></div>


  
 


