@import '../import_scss/_size';
@import '../import_scss/_color';

$block-line: inline-block;
$color-grey-icon: rgba(134, 136, 138, .5);
$url-img: url('/assets/images/imgNav.jpg');

.container-fluid {
    width: $full-width;
    .navbar {
        background-color: $colorBg;
    }
    .img-brand {
        height: $height-logotip;
        width: $width-logotip;
    }

    .input {
        @include bgColor($color-grey,
        $color-wh);
        +.button-search {
            @include bgColor($color-grey-icon,
            $color-wh);
        }
    }
    
    +.backg-nav {
        @include size(37.5rem,
        $full-width);
        background-size: cover;
        background-image: $url-img;
        margin-top: 3rem;
    }
}

a {
    color: $color-wh;
    font-weight: 500;
    &:hover {
        color: rgb(208, 211, 212);
        text-shadow: 0.0150rem 0.0150rem 0.0625rem $color-wh;
        text-decoration: none;
    }
}
.active {
    color: rgb(250, 51, 51);
    font-weight: 500;
    &:hover {
        color:rgb(198, 43, 43);
        text-shadow: 0.0150rem 0.0150rem 0.0625rem rgb(250, 51, 51);
        text-decoration: none;
    } 
}

.input[type="text"]:focus  {
    border-color: rgba(253, 251, 251, 0.788);
    box-shadow: 0 0 0.0625rem rgba(204, 208, 216, 0.4) inset, 0 0 0 rgba(0, 0, 0, 0);
    outline: none;
}

.button-search:focus {
    border-color: rgba(253, 251, 251, 0.788);
    box-shadow: 0 0 0.0625rem rgba(204, 208, 216, 0.4) inset, 0 0 0 rgba(0, 0, 0, 0);
    outline: none;
}