$height-logotip: 3rem;
$width-logotip: auto;
$colorBg: rgb(54, 57, 62);
$block-line: inline-block;
$color-wh: white;
$color-grey: rgb(83,87,93);
$color-grey-icon: rgba(134,136,138,.5);
$full-width:100%;

@mixin bgColor($bg, $color) {
    color: $color;
    background: $bg;
  }

.container-fluid {
    width: $full-width;
    .navbar {background-color: $colorBg;}
    .navbar-brand{
        img{height: $height-logotip; width: $width-logotip}
    }
    .nav-item {
        a{color:$color-wh;}
        a:hover{color:$color-wh; text-shadow: 0.0625rem 0.0625rem 0.125rem $color-wh;}
    }
    .input{@include bgColor($color-grey, $color-wh);
        +.input-group-addon {@include bgColor($color-grey-icon, $color-wh);}
    }
    input[type="text"]:focus
    .uneditable-input:focus {   
      border-color: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0.0625rem rgba(204, 208, 216, 0.4) inset, 0 0 0 rgba(0, 0, 0, 0);
      outline: 0 none;
    }
    .button{@include bgColor($color-grey, rgb(190,192,196));
    }
    .button:focus
    .uneditable-button:focus {   
      border-color: rgba(0, 0, 0, 0);
      box-shadow: 0 0 0.0625rem rgba(204, 208, 216, 0.4) inset, 0 0 0 rgba(0, 0, 0, 0);
      outline: 0 none;
    }
    //  + .backg-nav{height: 37.5rem; width: 100%;  background-size: cover; margin-top: 3rem;}     
}

.backg-nav{height: 37.5rem; width: 100%;  background-size: cover; margin-top: 3rem;}
 