@import '../_size';

.file-upload {
    position: relative;
    top: -0.3125rem;
    cursor: pointer;
    display: inline;
    input[type='file'] {
        @include size(3.438rem,
        9.688rem);
        position: absolute;
        top: 0;
        left: 0%;
        opacity: 0;
        cursor: pointer;
    }
    +.hiddeCropper {
        position: relative;
        top: -0.3125rem;
        cursor: pointer;
    }
}

.card-hover-icons {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 1.875rem;
    bottom: 0;
    left: 50%;
    right: 0;
    padding: 0.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .crop {
        font-size: 2rem;
        text-shadow: 0.0625rem 0.0625rem 0.1875rem black, 0.0625rem 0.0625rem 0.5rem black;
        margin: 0.125rem;
        opacity: 0;
        transform: translateY(50%);
        transition: all 0.35s ease;
        &:hover {
            transition: all 0.35s ease;
            opacity: 1;
            transform: translateX(0);
        }
    }
}
button, .button {width: 8.125rem;}

img-cropper canvas {background-color: red !important;}