@import '../import_scss/_size';
@import '../import_scss/_color';

.file-upload {
    position: relative;
    top: -0.1125rem;
    cursor: pointer;
    display: inline;
    input[type='file'] {
        @include size(3.438rem,
        8rem);
        position: absolute;
        top: -1rem;
        left: 0%;
        opacity: 0;
        cursor: pointer;
    }
    +.hiddeCropper {
        position: relative;
        top: -0.205rem;
    }
}

.card-hover-icons {
    height: 5em;
    width: 25%;
    position: absolute;
    top: 2.3rem;
    bottom: 0;
    left: 37%;
    right: 0;
    padding: 0.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .crop {
        font-size: 1.18rem;
        text-shadow: 0.0625rem 0.0625rem 0.1875rem black, 0.0625rem 0.0625rem 0.5rem black;
        color: white;
        margin: 0.125rem;
        opacity: 0;
        transform: translateY(50%);
        transition: all 0.35s ease;
        &:hover {
            transition: all 0.35s ease;
            opacity: 1;
            transform: translateX(0);
        }
    }
}