<div class="container">
    <div class="title-section">
        <h1 class="text-center">All events for 2107</h1>
    </div>
</div>
<div>
    <div class="col-lg-1 col-md-1 season text-muted">
        Summer
    </div>
    <div class="container">
        <div class="row event-row">
            <div class="album text-muted col-sm-12 col-md-12 col-lg-6 mt-6">
                <div class="event">
                    <a routerLink="/event">
                        <div class="front">
                            <img class="card-image event-image" src="..\assets\images\event_photos\1.jpg">
                            <div class="img-responsive">
                                <div class="card-img-overlay event-descr align-bottom">
                                    <h3>Fotofusion</h3>
                                    <p><span>{{date|date}}</span></p>
                                    <p>Location</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="album text-muted col-sm-12 col-md-12 col-lg-6 mt-6">
                <a routerLink="/event">
                    <div class="event">
                        <div class="front">
                            <a href="#">
                                <img class="card-image event-image" src="..\assets\images\event_photos\2.jpg">
                            </a>
                            <div class="card-img-overlay event-descr align-bottom">
                                <h3>One Day Storytelling</h3>
                                <p><span>{{date|date}}</span></p>
                                <p>Location</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="album text-muted col-sm-12 col-md-12 col-lg-6 mt-6">
                <div class="event">
                    <a href="#">
                        <div class="front">
                            <img class="card-image event-image" src="..\assets\images\event_photos\3.jpg">
                            <div class="card-img-overlay event-descr align-bottom">
                                <h3>Real Life</h3>
                                <p><span>{{date|date}}</span></p>
                                <p>Location</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>