@import '../import_scss/_color';

$box-shadow: 0 0 0.625rem rgba(0,0,0,0.5);
$input-width: 2.6rem;
$padding-x: 2.813rem;
$padding-x-min: 0.3125rem; 

.input-group-addon {
    width: $input-width;
}

.bg-image{
    
    .bg-agenda {
        background-color: rgba(96, 100, 106, .5);
        box-shadow: $box-shadow;
        min-height: 42.25rem;
        padding-left: $padding-x; 
        padding-right: $padding-x;
        @media screen and (max-width: 28.44rem) {
            padding-left: $padding-x-min; 
            padding-right: $padding-x-min;
        }

        .btn-radio {
            @include bgColor(rgb(218,228,243),black);  
            box-shadow: $box-shadow;
            &:hover{
                @include bgColor(rgb(15, 77, 168),$color-wh);  
            }
            @media screen and (max-width:20.56rem){
                width: 4rem; 
                font-size: 0.8rem;
            }
        }
        
        .active {
            @include bgColor(rgb(42, 62, 91),$color-wh);
            box-shadow: $box-shadow;
        }

        .action-marin{
            margin-bottom: 23.2rem;
        }

    }
    .speaker-autocomplete {
        z-index:100;
        color: black;
    }
}

