<div class="container mb-5 py-5 text-white">
  <div class="row mx-2 my-2">
    <div class="col-md-12">
      <div class="well well-sm form">
        <div class="col-sm-12 col-lg-12 title-bg py-2">
          <h1 class="h1 text-center font-weight-bold">
            <img class="logo-Camera" src={{logoCamera}} alt=""> Create new event</h1>
        </div>



 





        <div class="btn-group align-items-center justify-content-center w-100" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input value="true" type="radio" name="action" autocomplete="off" checked (click)="action()"> Action
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Report
          </label>
        </div>
        <form class="px-3 py-3" [formGroup]="myFormAgenda">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 px-5">





              <!-- <div class="form-group text-center">
                <label for="cropper" class="font-weight-bold">Photo of event</label>
                <div class="form-group">
                  <app-cropper (onChanged)="onChanged($event)" [form]="myForm.controls.photoEvent"></app-cropper>
								</div>
                </div>-->

              <div class="form-group" *ngIf="true">
                <label for="name" class="font-weight-bold">Title of event</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input type="text" formControlName="name" class="form-control input-bg" id="name" placeholder="Wedding conference" required
                    autofocus>
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-pencil"></i>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="true">
                <label for="descr" class="font-weight-bold">
                  Description</label>
                <textarea formControlName="descr" class="form-control input-bg" id="decr" cols="25" rows="11" placeholder="Description"></textarea>
              </div>

              <div class="mb-5 mt-4 text-center">
                <button type="submit" class="btn btn-warning text-white sizeButton">
                  <i class="fa fa-paper-plane"></i> Template</button>
                <button type="submit" class="btn btn-warning text-white sizeButton">
                  <i class="fa fa-paper-plane"></i> Add agenda</button>
                <button type="submit" class="btn btn-warning text-white sizeButton">
                  <i class="fa fa-paper-plane"></i> Add event</button>
                <button type="submit" class="btn btn-success" routerLink="/add/event">
                  <i class="fa fa-backward" aria-hidden="true"></i> Go back</button>
              </div>

            </div>
            <div class="col-md-1"></div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<ngbd-buttons-radio></ngbd-buttons-radio>

<div class="mb-5 mt-4 text-center">
  <button type="submit" class="btn btn-success" routerLink="/add/event">
    <i class="fa fa-backward" aria-hidden="true"></i> Go back</button>
</div>


