@import '../import_scss/_color';

$box-shadow: 0 0 0.625rem rgba(0,0,0,0.5);
$input-width: 2.6rem;
$padding-x: 2.813rem;
$padding-x-min: 0.3125rem; 

.input-group-addon {
    width: $input-width;
}

.bg-image{

    min-height: 42.25rem;
    
    .bg-agenda {
        background-color: rgba(96, 100, 106, .5);
        box-shadow: $box-shadow;
        min-height: 42.25rem;
        padding-left: $padding-x; 
        padding-right: $padding-x;
        @media screen and (max-width: 28.44rem) {
            padding-left: $padding-x-min; 
            padding-right: $padding-x-min;
        }

        
        .active {
            @include bgColor(rgb(42, 62, 91),$color-wh);
            box-shadow: $box-shadow;
        }

        .action-marin{
            margin-bottom: 23.2rem;
        }

    }
    .speaker-autocomplete {
        z-index:100;
        color: black;
    }
}






.selcls { 
    color: white; 
    background: linear-gradient(to top, #a6b5c9 0%, #7b8a96 36%, #254f66 100%); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    padding: 5px 20px; 
    color: #fff; 
    border: 1px solid #333; 
    // border-radius: 20px;
    &:hover {
        background: linear-gradient(to top, rgb(151, 175, 206) 0%,rgba(31,96,126, 0.6) 50%, rgb(151, 175, 206) 100%); 
    } 

    } 
    option {color: black; }