<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-12 title-bg pt-1">
      <h1 class="h1 text-center font-weight-bold text-white py-2">
        <img class="logo-Camera" src={{logoCamera}} alt=""> Create new event
      </h1>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="row bg-image py-5">
    <div class="container">
      <div class="row  mb-2">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <label for="gender1" class="font-weight-bold">Select action</label>
              <div class="btn-group align-items-center justify-content-center w-100" data-toggle="buttons">
                <select class="form-control selectsSchedule" id="gender1" (change)="changeSelect()">
                  <option value="1" class="optionSelect" id="option1">Official</option>
                  <option selected value="2" class="optionSelect" id="option2">Lecture</option>
                </select>
              </div>
            </div>

            <div class="col-md-10 px-5">
              <div *ngIf="isAction" class="">
                <form [formGroup]="myFormAction">
                  <div class="row mb-2">
                    <div class="col-lg-4 mb-3">
                      <label for="timeActionFrom" class="font-weight-bold">Time Start</label>
                      <ngb-timepicker formControlName="timeActionFrom" (change)="change()" [(ngModel)]="timeActionFrom"></ngb-timepicker>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <label for="timeActionTo" class="font-weight-bold">Time End</label>
                      <ngb-timepicker formControlName="timeActionTo" (change)="change()" [(ngModel)]="timeActionTo"></ngb-timepicker>
                    </div>
                    <div class="col-lg-4">
                      <label for="dataPickerReport" class="font-weight-bold">Date</label>
                      <div class="input-group input-daterange input-group mr-sm-2 mb-sm-0" id="datepicker" (document:click)="dp.close()" (click)="$event.stopPropagation()">
                        <input class="form-control input-bg" placeholder="yyyy-mm-dd" formControlName="dataPickerAction" [(ngModel)]="modelDate"
                          [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker (click)="dp.toggle()" #dp="ngbDatepicker" id="calendar2"
                          (change)="change()" [readonly]="true">

                        <button class=" btn-cursor btn-icon" (click)="dp.toggle()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="form-group action-marin">
                    <label for="nameAction" class="font-weight-bold">Action</label>
                    <div class="mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" formControlName="nameAction" class="form-control input-bg" id="name" placeholder="Registration & Wellcome"
                        (change)="change()">
                    </div>
                  </div>
                  <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-color size-button mb-2" (click)="saveAction(myFormAction.value); myFormAction.value='';"
                      [disabled]="myFormAction.invalid || isValid">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i> Save action</button>
                  </div>
                </form>
              </div>

              <div *ngIf="isReport">
                <form [formGroup]="myFormReport">
                  <div class="row">
                    <div class="col md-12 mb-3">
                      <div class="form-group">
                        <label for="speaker" class="font-weight-bold">Choose a speaker</label>
                        <div class="row">
                          <div class="col-md-9 my-1">
                            <div class="input-group w-100 speaker-autocomplete">
                              <div class="w-100">
                                <input ng2-auto-complete [source]="speakers" display-property-name="fullName" [list-formatter]="autocompleListFormatter"
                                  formControlName="speaker" class="form-control input-bg w-100" id="speaker" [ngModel]="model1"
                                  placeholder="Choose a speaker" (change)="change()">
                              </div>
                              <app-modal-speaker></app-modal-speaker>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-12 text-center">
                            <app-modal-view-speaker [speakers]="myFormReport.value.speaker"></app-modal-view-speaker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-lg-4 mb-2">
                      <label for="timeReportFrom" class="font-weight-bold">Time Start</label>
                      <ngb-timepicker formControlName="timeReportFrom" class="timepicker" [(ngModel)]="timeReportFrom" (change)="change()"></ngb-timepicker>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <label for="timeReportTo" class="font-weight-bold">Time End</label>
                      <ngb-timepicker formControlName="timeReportTo" [(ngModel)]="timeReportTo" (change)="change()"></ngb-timepicker>
                    </div>
                    <div class="col-lg-4">
                      <label for="dataPickerReport" class="font-weight-bold">Date</label>
                      <div class="input-daterange input-group mr-sm-2 mb-sm-0" id="datepickerReport" (document:click)="d.close()" (click)="$event.stopPropagation()">
                        <input class="form-control input-bg" placeholder="yyyy-mm-dd" [readonly]="true" [minDate]="minDate" [maxDate]="maxDate" formControlName="dataPickerReport"
                          [(ngModel)]="modelDateRepor" ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker" id="calendarReport">
                        <button class=" btn-cursor btn-icon" (click)="d.toggle()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="nameReport" class="font-weight-bold">Report</label>
                    <div class="mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" formControlName="nameReport" class="form-control input-bg" id="nameReport" placeholder="How to take a good photo?"
                        (change)="change()">
                    </div>
                  </div>

                  <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-color size-button mb-2" (click)="saveReport(myFormReport.value); myFormReport.value='';"
                      [disabled]="myFormReport.invalid || isValid">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i> Save lection</button>
                  </div>
                </form>
              </div>
              <div class="w-75 mx-auto" *ngIf="schedules[0].length>0">
                <div *ngFor="let schedule of schedules; let i = index">
                  <div class="w-100 font-table text-white my-5 embed-responsive text-center mx-auto d-table" *ngIf="schedules[i].length>0">
                    <div class="table-bgraund font-weight-bold text-center cell-div py-2">
                      Schedule {{schedule[0].date | pipeDate}}
                    </div>
                    <div class="theader text-center font-weight-bold text-center">
                      <div class="cell-div d-table-cell">
                        <p class="align-middle text-size my-2">Time</p>
                      </div>
                      <div class="cell-div d-table-cell text-center">
                        <p class="text-center align-middle text-size my-2">Event</p>
                      </div>
                    </div>
                    <div class="row-div" *ngFor="let action of schedule">
                      <div class="cell-div d-table-cell align-middle size-cell">
                        <p class="text-center text-size align-middle my-2 text-center size-clock">
                          <i class="fa fa-clock-o fa-lg"></i>
                          {{action.startTime | join}}-{{action.endTime | join}}
                        </p>
                      </div>
                      <div class="cell-div d-table-cell align-middle size-cell">
                        <p class="text-center align-middle text-size text-size my-2">
                          {{action.name}}
                          <span class="text-center size-report mt-0">{{action.speaker}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10 px-5">
        <div class="my-5 text-center">
          <button type="submit" class="btn btn btn-color size-button mb-2">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add event</button>
          <button type="submit" class="btn btn-color size-button mb-2">
            <i class="fa fa-paper-plane"></i> Template</button>
          <button type="submit" class="btn btn-color size-button mb-2" (click)="hideAgenda(false)">
            <i class="fa fa-backward" aria-hidden="true"></i> Go back</button>
        </div>
      </div>
    </div>
  </div>
</div>

