<div>
	<img class="imgEvent img-fluid" src={{item.confPhoto}} alt="">
	<h1 class="event-title text-center text-white">{{item.confName}} {{item.confDateTo | date:"dd.MM.yyyy"}}</h1>
</div>

<div class="container anchors">
	<div class="row my-5">
		<div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-right">
			<button type="button" class="btn btn-lg btn-outline-secondary btn-anchor" (click)="goTo('speakers')">SREAKERS</button>
		</div>
		<div class="but-anchor col-sm-4 col-md-4 col-lg-2 text-center">
			<button type="button" class="btn btn-lg btn-outline-secondary btn-anchor" (click)="goTo('location')">LOCATION</button>
		</div>
		<div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-left">
			<button type="button" class="btn btn-lg btn-outline-secondary btn-anchor" (click)="goTo('agenda')">AGENDA</button>
		</div>
	</div>

	<div class="event-description my-5 font-weight-bold text-justify">
		<span class="h1 text-uppercase font-weight-bold text-muted">About conference </span>{{item.confDescr}}</div>

	<div class="row my-4">
		<div class="col">
			<div class="mx-auto w-50 p-3 text-center">
				<h1 class="bloc-bord d-block mx-auto w-50 py-3" id="agenda">AGENDA</h1>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid schedule-bg py-5">
	<div class="container">
		<div class="w-100 font-table text-white my-5 embed-responsive text-center mx-auto d-table">
			<div class="table-bgraund font-weight-bold text-center cell-div">
				<div class="text-center">
					<span class="fa-stack fa-2x py-0 mx-auto">
						<i class="fa fa-calendar-o fa-stack-1x"></i>
						<strong class="fa-stack-1x calendar-text pt-1 mx-auto">{{item.confDateTo | date:"dd"}}</strong>
					</span>
					<span class="month align-middle font-weight-bold text-uppercase mx-auto">{{item.confDateTo | date:"MMMM"}}</span>
				</div>
			</div>
			<div class="theader text-center font-weight-bold text-center">
				<div class="cell-div d-table-cell text-center">
					<p class="text-center align-middle text-size my-2">Time</p>
				</div>
				<div class="cell-div d-table-cell text-center">
					<p class="text-center align-middle text-size my-2">Event</p>
				</div>
			</div>
			<div class="row-div" *ngFor="let agenda of item.confLections">
				<div class="cell-div d-table-cell align-middle">
					<p class="text-center text-size align-middle my-2">
						<i class="fa fa-clock-o fa-lg"></i> {{agenda.lectionTime}}</p>
				</div>
				<div class="cell-div d-table-cell align-middle">
					<p class="text-center align-middle text-size text-size my-2">
						<span class="mb-0">{{agenda.lectionName}}</span>
						<br>
						<span class="text-center report mt-0">{{agenda.lectionSpeaker}}</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row my-4">
		<div class="col">
			<div class="mx-auto w-50 p-3 text-center">
				<h1 id="speakers" class="bloc-bord d-block mx-auto w-50 py-3">SPEAKERS</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-lg-4" *ngFor="let conferenceSpeaker of speakers">
			<a href="#">
				<div class="info-card mb-4">
					<div class="front">
						<img class="card-image" src={{conferenceSpeaker.speakerPhoto}}>
						<div class="img-responsive">
							<div class="carousel-caption">
								<h4>{{conferenceSpeaker.lectionSpeaker}}</h4>
							</div>
						</div>
					</div>
					<div class="back">
						<img class="card-image" src={{conferenceSpeaker.speakerPhoto}}>

						<div class="carousel-caption">
							<h4>{{conferenceSpeaker.lectionSpeaker}}</h4>
							<h6>
								Leading photografer
							</h6>
							<p>
								Ltd "Photographer group"
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>


	<div class="row my-4">
		<div class="col">
			<div class="mx-auto w-50 p-3 text-center">
				<h1 class="bloc-bord d-block mx-auto w-50 py-3" id="location">LOCATION</h1>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid location-bg my-5 py-5">
	<div class="row d-block mx-auto ">
		<h2 class="text-center">{{item.confLocationEvent}}</h2>
	</div>
	<div class="row mx-5 my-5">
		<div class="col-md-12 col-lg-6 px-0" *ngFor="let location of item.confphotoEventLocations">
			<div class="card">
				<img class="card-image img-fluid" src={{location}} alt="">
			</div>
		</div>
	</div>
</div>

<div class="container mb-5">
	<div class="row">
		<div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-right">
			<button type="button" class="btn btn-lg btn-outline-secondary btn-anchor" (click)="goTo('speakers')">SREAKERS</button>
		</div>
		<div class="but-anchor col-sm-4 col-md-4 col-lg-2 text-center">
			<button type="button" class="btn btn-lg btn-outline-secondary btn-anchor" (click)="goTo('location')">LOCATION</button>
		</div>
		<div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-left">
			<button type="button" class="btn btn-lg btn-outline-secondary btn-anchor" (click)="goTo('agenda')">AGENDA</button>
		</div>
	</div>
</div>


<button type="button" id="return-to-top" class="btn btn-secondary btn-circle text-center font-weight-bold" (click)="up()"
 [class.show]="isShow">
	<i class="fa fa-chevron-up align-text-top p-0 m-0"></i>
</button>