<div>
    <img class="imgEvent" src="/assets/images/fearless.jpg" alt="">
    <div class="carousel-caption">
        <h1 class="event-title">Fearless confernce 28.12.2017</h1>
    </div>
</div>


<div class="container">
    <div class="row">
        <a href="#">
            <div class="info-card">
                <div class="front">
                    <img class="card-image" src="/assets/images/new_photo/ph-8.jpg">
                    <div class="img-responsive">
                        <div class="carousel-caption">
                            <h3>Mr.Boot</h3>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <img class="card-image" src="/assets/images/new_photo/ph-8.jpg">

                    <div class="carousel-caption">
                        <h3>Mr.Boot</h3>
                        <h6>
                            Leading photografer
                        </h6>
                        <p>
                            Ltd "Photographer group"
                        </p>
                    </div>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="info-card">
                <div class="front">
                    <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">
                    <div class="img-responsive">
                        <div class="carousel-caption">
                            <h3>Mrs.Holms</h3>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">

                    <div class="carousel-caption">
                        <h3>Mrs.Holms</h3>
                        <h6>
                            Director
                        </h6>
                        <p>
                            Ltd "Good life"
                        </p>
                    </div>
                </div>
            </div>
        </a>
</div>
</div>