<div>
    <img class="imgEvent" src="/assets/images/fearless.jpg" alt="">
 <h1 class="event-title text-center">Fearless conference 28.12.2017</h1>
</div>

<div style="height: 150px"></div>

<div class="container">
    <div class="row anchors">
        <div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-right"><a href="#speakers"><button type="button" class="btn btn-lg btn-outline-secondary btn-anchor">SREAKERS</button></a></div>
        <div class="but-anchor col-sm-4 col-md-4 col-lg-2 text-center"><a href="#location"><button type="button" class="btn btn-lg btn-outline-secondary btn-anchor">LOCATION</button></a></div>
        <div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-left"><a href="#agenda"><button type="button" class="btn btn-lg btn-outline-secondary btn-anchor">AGENDA</button></a></div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="mx-auto w-50 p-3 text-center">
                <a name="agenda">
                    <h1 class="bloc-bord d-block mx-auto w-50 py-3">AGENDA</h1>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5" [ngStyle]="{'background-image':'url(' + background.link + ')'}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover font-table my-5">
                    <caption class="time p-0 table-bgraund text-center">
                        <span class="fa-stack fa-2x py-0">
                        <i class="fa fa-calendar-o fa-stack-1x"></i>
                        <strong class="fa-stack-1x calendar-text pt-1">28</strong>
                        </span>
                        <span class="month align-middle font-weight-bold">December</span>

                    </caption>
                    <thead class="theader">
                        <tr>
                            <th class="text-center">Time</th>
                            <th class="text-center">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 09:00</td>
                            <td class="text-center align-middle">
                                <p class="action p-0 m-0">Registration&Coffe</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 10:00</td>
                            <td class="text-center align-middle">
                                <p class="action p-0 m-0">Introduction&Welcome</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                            <td class="text-center align-middle">
                                <p class="action p-0 m-0">Michael de Vede</p>
                                <p class="report p-0 m-0">How takes a good photo?</p>
                            </td>
                        </tr>
                        <tr>
                                <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                                <td class="text-center align-middle">
                                    <p class="action p-0 m-0">Michael de Vede</p>
                                    <p class="report p-0 m-0">How takes a good photo?</p>
                                </td>
                            </tr>                      <tr>
                                    <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                                    <td class="text-center align-middle">
                                        <p class="action p-0 m-0">Michael de Vede</p>
                                        <p class="report p-0 m-0">How takes a good photo?</p>
                                    </td>
                                </tr>                      <tr>
                                        <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                                        <td class="text-center align-middle">
                                            <p class="action p-0 m-0">Michael de Vede</p>
                                            <p class="report p-0 m-0">How takes a good photo?</p>
                                        </td>
                                    </tr>                      <tr>
                                            <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                                            <td class="text-center align-middle">
                                                <p class="action p-0 m-0">Michael de Vede</p>
                                                <p class="report p-0 m-0">How takes a good photo?</p>
                                            </td>
                                        </tr>                      <tr>
                                                <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                                                <td class="text-center align-middle">
                                                    <p class="action p-0 m-0">Michael de Vede</p>
                                                    <p class="report p-0 m-0">How takes a good photo?</p>
                                                </td>
                                            </tr>                      <tr>
                            <td class="text-center align-middle"><i class="fa fa-clock-o fa-lg"></i> 11:30</td>
                            <td class="text-center align-middle">
                                <p class="action p-0 m-0">Michael de Vede</p>
                                <p class="report p-0 m-0">How takes a good photo?</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row my-4">
        <div class="col">
            <div class="mx-auto w-50 p-3 text-center">
                <a name="speakers">
                    <h1 class="bloc-bord d-block mx-auto w-50 py-3">SPEAKERS</h1>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <a href="#">
                <div class="info-card mb-4">
                    <div class="front">
                        <img class="card-image" src="/assets/images/new_photo/ph-8.jpg">
                        <div class="img-responsive">
                            <div class="carousel-caption">
                                <h3>Mr.Boot</h3>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <img class="card-image" src="/assets/images/new_photo/ph-8.jpg">

                        <div class="carousel-caption">
                            <h3>Mr.Boot</h3>
                            <h6>
                                Leading photografer
                            </h6>
                            <p>
                                Ltd "Photographer group"
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-6 col-lg-4">
            <a href="#">
                <div class="info-card mb-4">
                    <div class="front">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">
                        <div class="img-responsive">
                            <div class="carousel-caption">
                                <h3>Mrs.Holms</h3>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">

                        <div class="carousel-caption">
                            <h3>Mrs.Holms</h3>
                            <h6>
                                Director
                            </h6>
                            <p>
                                Ltd "Good life"
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a href="#">
                <div class="info-card mb-4">
                    <div class="front">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">
                        <div class="img-responsive">
                            <div class="carousel-caption">
                                <h3>Mrs.Holms</h3>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">

                        <div class="carousel-caption">
                            <h3>Mrs.Holms</h3>
                            <h6>
                                Director
                            </h6>
                            <p>
                                Ltd "Good life"
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-6 col-lg-4">
            <a href="#">
                <div class="info-card mb-4">
                    <div class="front">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">
                        <div class="img-responsive">
                            <div class="carousel-caption">
                                <h3>Mrs.Holms</h3>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">

                        <div class="carousel-caption">
                            <h3>Mrs.Holms</h3>
                            <h6>
                                Director
                            </h6>
                            <p>
                                Ltd "Good life"
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a href="#">
                <div class="info-card mb-4">
                    <div class="front">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">
                        <div class="img-responsive">
                            <div class="carousel-caption">
                                <h3>Mrs.Holms</h3>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <img class="card-image" src="/assets/images/new_photo/ph-2.jpg">

                        <div class="carousel-caption">
                            <h3>Mrs.Holms</h3>
                            <h6>
                                Director
                            </h6>
                            <p>
                                Ltd "Good life"
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="row my-4">
        <div class="col">
            <div class="mx-auto w-50 p-3 text-center">
                <a name="location">
                    <h1 class="bloc-bord d-block mx-auto w-50 py-3">LOCATION</h1>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5 py-5" [ngStyle]="{'background-image':'url(' + bgLocation.link + ')'}">
    <div class="row d-block mx-auto ">
        <h2 class="text-center">245 West72nd Street New York, NY 10023</h2>
    </div>
    <div class="row mx-5 my-5">
        <div class="col-md-12 col-lg-6 px-0">
            <div class="card"><img class="card-image" src="/assets/images/location/ny-1.jpg" alt=""></div>
        </div>
        <div class="col-md-12 col-lg-6 px-0">
            <div class="card"><img class="card-image" src="/assets/images/location/ny-2.jpg" alt=""></div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row anchors">
        <div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-right"><a href="#speakers"><button type="button" class="btn btn-lg btn-outline-secondary btn-anchor">SREAKERS</button></a></div>
        <div class="but-anchor col-sm-4 col-md-4 col-lg-2 text-center"><a href="#location"><button type="button" class="btn btn-lg btn-outline-secondary btn-anchor">LOCATION</button></a></div>
        <div class="but-anchor col-sm-4 col-md-4 col-lg-5 text-left"><a href="#agenda"><button type="button" class="btn btn-lg btn-outline-secondary btn-anchor">AGENDA</button></a></div>
    </div>
</div>


<button type="button" id="return-to-top" class="btn btn-secondary btn-circle">Up</button>


